.displayDetails{
    width: 100%
  
  }

  
  .edit{
    margin-left: 40%;
    
  }
  
  .displayOfEachAttribute{
    margin-right: 330px;
    width:620px;
    
  }
  
  
  
  
  
  .editimg{
    background-color:white;
    border:none;
    margin-left: 10px;
  
  }